body{
	background: rgb(10,77,104);
	background: linear-gradient(90deg, rgba(10,77,104,1) 0%, rgba(10,77,104,1) 35%, rgba(5,191,219,1) 100%);
	/*Realizado con esta página https://cssgradient.io/*/
}
.contenedor{
	position: relative;
	margin: 0 auto;
	justify-content: center;
	width: 1000px;
	font-family: 'Trebuchet MS', sans-serif;
	background-color: white;
}
body header{
	background-color: white;
	padding: 15px 20px;
	border-bottom: 5px #0A4D68 solid;
	font-size: 24px;
	line-height: 40px;
}
header img{
	width: 200px;
}
header h1{
	color: #0A4D68;
	text-align: right;
	float: right;
	text-shadow: 0px 1px 2px #333333;
}
header h2{
    color: #0A4D68;
    text-align: center;
    text-shadow: 0px 1px 1px #333333;
	display:inline-block;

}
nav ul{
	height: 40px;
	background-color: #088395;
	text-shadow: 0px 1px 2px #333333;
	text-align: center;
	margin: auto;
}
nav li{
	color: white;
	font-size: 18px;
	display: inline;
	background-color: #088395;
	margin: 0 15px;
	padding: 8px 2px;
	border-bottom: 2px white solid;
	border-top: 2px white solid;
	text-align: center;
	float: left;
}
nav li a{
	color: white;
	text-decoration: none;
}
nav li:hover{
	background-color: #0A4D68;
	color: #00FFCA;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
	
}
nav li a:hover{
	background-color: #0A4D68;
	color: #00FFCA;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
}
section{
	
	width: 60%;
	padding: 0px;
	margin: 0px;
	border: 2px #0A4D68 solid;
	display:inline-block;
}
section header {
	padding: 0px;
	margin: 0px;
	border-bottom: 0px;
}

section header h3{
   text-align: center;
    color:#0A4D68;
}
article {
    
    background-color: #088395;
	color: white;
	font-size: 16px;
	margin: 0px;
	padding:  3%;
    float:right;
	display:inline-block;
}
article p{
    position: right ;
	float:right;
	width: 50%;
}


.imagenodo{
    width:40%;
    padding-right: 10px;
    float: left;


}
aside{
	float:right;
	width: 30%;

}


#fisioterapia{
	width: 60%;
	margin-top:30px;
	margin-left: 60px;
	margin-right: 60px;
	float:right;

}

footer{
	clear: both;
	background-color: #088395;
	padding: 2px 15px;
}
/*Adaptación de ancho fijo de resoluciones de más de 1300px de ancho*/
@media screen and (min-width: 1300px){
	.contenedor{
		width: 80%;
		height: auto;
	}
	/*BARRA DE NAVEGACIÓN*/
	nav{
		width: 100%;
	}
	nav ul li{
		font-size: 1.4vw;
		margin: 0px 1%;
		padding: 8px 0.8%;
	}
	/*CONTENIDO SECTION*/
	section{
		padding: 0px;
		margin: 0.8%;
		font-size: 24px;
	}
	section header{
		padding: 0px;
		margin: 0px;
		border-bottom: 0px;
	}
	article{
		padding: 3%;
		height: auto;
	}
	.imgderechatexto{
		width: 40%;
	}
	.imgizquierdatexto{
		width: 40%;
	}
	/*CONTENIDO ASIDE*/
	aside{
		padding: 0px 1.5%;
		margin: 0.6% 0.6% 0.6% 0px;
	}
	.imgaside{
		width: 100%;
		margin: 0.6%;
	}
}
/*reponsive tablets*/
@media screen and (min-width: 700px) and (max-width: 1000px) {
	.contenedor{
		width: 100%;
		height: auto;
	}
	/*CABECERA*/
	body header{
		padding: 15px 2%;
	}
	header img{
		width: 20%;
	}
	header h1{
		font-size: 5vw;
	}
	header h1{
		font-size: 4vw;
	}
	/*BARRA DE NAVEGACIÓN*/
	nav{
		width: 100%;
	}
	nav ul li{
		font-size: 2vw;
		margin: 0px 0.5%;
		padding: 8px 0.8%;
	}
	
	/*CONTENIDO SECTION*/
	section{
		width: 65%;
		padding: 0px;
		margin: 0.6%;
		border-radius: 8px;
	}
	section header{
		padding: 0px;
		margin: 0px;
		border-bottom: 0px;
	}
	article{
		padding: 3%;
		height: auto;
	}
	.imgderechatexto{
		width: 40%;
	}
	.imgizquierdatexto{
		width: 40%;
	}
	
	/*RESPONSIVE PARA MÓVILES*/
@media screen and (max-width: 700px){
	.contenedor{
		width: 100%;
		height: auto;
	}
	/*HEADER - CABECERA*/
	body header{
		padding: 8% 2% 25%;
		width: auto;
		height: auto;
		margin: 0px;
	}
	header img{
		width: 80%;
		margin: auto;
		display: block;
		clear: left;
		border-bottom: 4px #088395 solid;
	}
	header h1{
		display: block;
		font-size: 7vw;
		text-align: center;
		width: auto;
		padding: 0px;
		margin: 20px 25% 0px 0px;
	}
	/*BARRA DE NAVEGACIÓN*/
nav{
	width: auto;
	background-color: #088395;
	padding: 10px 0px;
	border-bottom: 10px #0A4D68 solid;
}
nav ul{
	height: auto;
	margin: auto;
}
nav ul li{
	color: white;
	font-size: 18px;
	display: block;
	background-color: #088395;
	margin: 0 15px;
	padding: 8px 2px;
	border-bottom: 2px white solid;
	border-top: 2px white solid;
	text-align: center;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
nav ul li:hover{
	background-color: #0A4D68;
	color: #00FFCA;
	border-bottom: 2px #0A4D68 solid;
	border-top: 2px #0A4D68 solid;
}
nav ul li a:hover{
	background-color: #0A4D68;
	color: #00FFCA;
}

}
}